@use "variables.scss" as v;
@use "helpers.scss" as h;
.social-container {
  background-color: v.$primaryColor;
  color: white;

  @include h.centered();
  flex-direction: column;

  gap: 30px;
  padding-bottom: 30px;
  &-heading {
    font-size: v.$logoFont-size;
    padding-top: 10px;
  }

  &-image {
    width: v.$logoWidth;
    height: v.$logoGeight;
    fill: white;
  }
}
.social-container a {
  text-decoration: none;
}
