// colors, font sizes, logo size and logo font, value of media query.
$primaryColor: #fab005;
$secondaryColor: white;
// font sizes
$primaryFont-size: 20px;
$secondaryFont-size: 25px;
$headingFont-size: 45px;
$quoteFont-size: 15px;
// logo size
$logoWidth: 80px;
$logoGeight: 80px;
// logo font
$logoFont-size: 30px;
