@use "variables.scss" as v;
.video {
  background-color: v.$primaryColor;

  /* padding: 100px 100px; */
  padding-top: 100px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;

  &-heading {
    color: white;
    font-size: v.$logoFont-size;
    text-align: center;
    padding-top: 20px;
  }
  &-frame {
    border: 0px;
  }
  /* position: relative;*/ /*lai video butu centrā */
}
